<nav>
  <div id="menu">
    <div id="exit">
      <div class="header menu">
        <h1>#DBAJ</h1>
        <div class="line red"></div>
        <div class="line yellow"></div>
        <div class="line blue"></div>
      </div>
      <a id="xbtn">&times;</a>
    </div>
    <a href="/about-us"> About </a>
    <a href="/mission"> Mission </a>
    <a href="/newsletter"> Newsletter </a>
    <a href="/logout"> Logout </a>
  </div>
</nav>
