<nav>
    <a id="xbtn">&times;</a>
            <a href="/about-us"> About </a>
            <a href="/mission"> Mission </a>
            <a href="/contact"> Contact </a>
            <a href="/logout"> Logout </a>
</nav>
