<div id="form">

  <h1>Don't Be A Jerk</h1>
  <p>Long before we let ourselves grow soft and supple to the luxuries of modern living, we as a people were accustomed to a more primal sense of entertainment. Now, we have become bogged down by commodity-covered sandtraps and pitfalls.</p>

  <p>Golf could not better exemplify this sense of subpar satisfaction that we have been tricked into accepting.
    If you too have grown tired of watching such a mind-numbing recreational activity become a full-blown elitist...recreational activity, join us.
    If you too have fallen asleep somewhere between the front, back 9, or <i>honestly</i> who even gives a shit...something about 9, then join us.
    Join us, sisters and brothers in making golf great again -- by driving the most manicured of sports back to its cantakerous roots.</p>

  <form action="/sign-petition" method="POST">
    <h2>I, {{first}} {{last}}, do hereby pledge to not be a jerk.</h2>
    <input type="hidden" name="signature">
    <canvas id="canvas" height="100px" width="350px"></canvas>
    <button class="button" type="Submit">Submit</button>
  </form>

  {{#error}}
    <h2> Something went wrong with your signature! Try again.</h2>
  {{/error}}

</div>
