<div id="form">
  <div id="form-content">
  <h1>Don't Be A Jerk</h1>
  <p>In what seems like a decade, 2017 proved to be difficult. It proved to be overwhelming in some regards, and downright viscious in others.
    This was in no small part due to the fact that there were just a lot of jerkoffs hanging around this year.</p>

  <p>Whether is was the occasional Weinstein, an unsettingly Le Pen, or the over-active social media user, there were a lot of people who
    caused enough drama this year. From outlandish remarks to fake news, 2017, and previous years before as well, illustrated the wide berth
    of the population that delight in just being some nasty SOB's.</p>

  <p>But, comrades, there is hope. For wherever is social media, there is social media -- there's a viral video of small animials being adorable. And while
  that is only online, realize that you too can be that video. So, spread your love like a non-lethal form of meningococcal meningitis and together
  we can all stop this bafoonery. Say it loud, and say it proud. Don't be a jerk.</p>
  </div>
  <form action="/sign-petition" method="POST">
    <h2>I, {{first}} {{last}}, do hereby pledge to not be a jerk.</h2>
    <input type="hidden" name="signature">
    <canvas id="canvas" height="100px" width="350px"></canvas>
    <button class="button" type="Submit">Submit</button>
  </form>

  {{#error}}
    <h2> Something went wrong with your signature! Try again.</h2>
  {{/error}}

</div>
