<div class="landing">

  <div class="landing-form">
  <h1>Login</h1>

  {{#errorcheck}}
  <thanksp>There was a problem with your password. Try again.</p>
  {{/errorcheck}}

  {{#error}}
  <p>Try again.</p>
  {{/error}}

  {{#erroruser}}
  <p>There was a problem with your username. Try again.</p>
  {{/erroruser}}

<form action="/login" method="POST">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button class="button" type="Submit">Submit</button>
</form>
</div>
</div>
