<div ="mission">

  <h3>Our mission</h3>
  <p>People are assholes, and it's our mission to remind people that we don't
  always have to be dicks to one another. If you see what we see, if you feel
  as we feel, then don't be an asshole anymore, and be nicer to people.</p>

<img src="/public/images/giphy-16.gif" alt="Latrice being Latrice">

  <h3>Where to next?</h3>
  <a href="/petition">I would like to sign</a>
  <a href="/logout">I'm out</a>
</div>
