<div id="profile">
  <p>Tell us more about yourself, {{name}}.</p>

  <form action="/newProfile" method="POST">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State/Province">
    <input type="text" name="country" placeholder="Country">
    <input type="text" name="url" placeholder="Personal URL">

    <button class="button" type="Submit">Submit</button>
  </form>


</div>
