<div id="profile">
  <h3>I'm pretending to give a shit.</h3>
  <p>Tell me something about yourself, {{name}}.</p>

  <form action="/newProfile" method="POST">
    <input type="text" name="age" placeholder="Age">  
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State/Province">
    <input type="text" name="country" placeholder="Country">
    <input type="text" name="url" placeholder="Personal Website">

    <button type="Submit">Submit</button>
  </form>


</div>
