<div id="thanks">
  <h1> Well, thanks, {{name}}, for being a piece of trash </h1>

  <img src="{{sig}}">

  <h3>Want to be a nosey POS and see other people who signed too?</h3><br/>
  <h3>Yes, I am a <a href='/signed'>POS</a></h3><br/>
  <h3>Nah, I want to <a href='/logout'>logout</a></h3>
</div>
