<div id="thanks">
  <img src="/images/nojerks.jpg">
  <h1> Thanks so much, {{name}}, now you've got some options!</h1>

  <img src="{{sig}}">

  <p>Yes, I would like to see other people who <a href='/signed'>signed</a></p><br/>
  <p>Nah, I'd like to <a href='/logout'>logout</a></p>
</div>
